{% macro action_button(view, instance) %}
    <button type='submit' class='btn {{ view.button_class }}'>
        {% if view.button_icon %}
            <span class='glyphicon {{ view.button_icon }}'></span>
        {% endif %}
        {{ view.action|title }}
    </button>
{% endmacro %}

{% macro action_link(view, instance=None, ancestor=None, text=True, from=None, button=True) -%}
    {% set url = view.url_for(instance, ancestor) %}
    {% set perm = view.has_permission_for(instance) %}

    {% if button or perm %}
    <a href='{% if perm %}{{ url }}{% else %}#{% endif %}' 
        class='{% if button %}btn {{ view.button_class }} {% if not perm %}disabled{% endif %}{% endif %}'>
            {% if view.button_icon %}
                <span class='glyphicon glyphicon-{{ view.button_icon }}'></span>
            {% endif %}
            {% if text or not view.button_class %}
                {% if from and from.path() != view.path() %}
                    {{ view.kind() }}
                {% endif %}
                {{ view.action|title }}
            {% endif %}
    </a>
   {% endif %}
{%- endmacro %}

