{% macro action_button(view, instance) %}
    <button type='submit' class='btn {{ view.button_class }}'>
        {% if view.button_icon %}
            <span class='glyphicon {{ view.button_icon }}'></span>
        {% endif %}
        {{ view.action|title }}
    </button>
{% endmacro %}

{% macro action_link(view, instance=None, ancestor=None, text=True, from=None, button=True) -%}
    {% set url = view.url_for(instance, ancestor) %}
    {% set perm = view.has_permission_for(instance) %}

    {% if (button or perm) and url %}
    <a href='{% if perm %}{{ url }}{% else %}#{% endif %}' 
        class='{% if button %}btn {{ view.button_class }} {% if not perm %}disabled{% endif %}{% endif %}'>
            {% if view.button_icon %}
                <span class='glyphicon glyphicon-{{ view.button_icon }}'></span>
            {% endif %}
            {% if text or not view.button_class %}
                {% if from and from.path() != view.path() %}
                    {{ view.kind() }}
                {% endif %}
                {{ view.action|title }}
            {% endif %}
    </a>
   {% endif %}
{%- endmacro %}

{% macro view_label(view_cls, link_last=False) %}
    <span class='text-muted'>
        {% for ancestor in view_cls.ancestor_labels() %}{{ ancestor }} / {% endfor %}
    </span>

    {% if link_last and not view_cls._requires_instance -%}
        <a href='{{ view_cls.url_for() }}'>{{ view_cls.kind_label() }}</a>
    {%- else -%}
        {{ view_cls.kind_label() }}
    {%- endif %}
{% endmacro %}

{%- macro breadcrumbs(instance=None, ancestors=[], ancestor_kinds=[], action=None) -%}
    {%- for ancestor, kind in izip_longest(ancestors or [], ancestor_kinds or []) -%}
    <li>
        {%- if ancestor -%}
        {%- if kind -%}<span class='text-muted'>{{ g.kibble.label_for_kind(kind) }}: </span>{%- endif -%}
            <a href='{{ g.kibble.url_for(ancestor, 'edit') }}'>{{ ancestor }}</a>
        {%- else -%}
            <a href='{{ g.kibble.url_for(kind, 'list') }}'>{{ g.kibble.label_for_kind(kind) }}</a>
        {%- endif -%}
    </li>
    {%- endfor -%}

    {%- if action -%}
        {%- if instance -%}
            <li>
            <span class='text-muted'>{{ g.kibble.label_for_kind(instance) }}: </span>
            <a href='{{ g.kibble.url_for(instance, 'edit') }}'>{{ instance }}</a></li>
        {%- endif -%}
        <li class='active'>{{ action }}</li>
    {%- else -%}
        <li class='active'>{{ instance }}</li>
    {%- endif -%}

{%- endmacro -%}
