{% extends "crud/base.html" %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <h1>{{ crud.name.title() }}</h1>

            <table class='table table-striped'>
                <tr>
                    <th>Class</th>
                    <th>Actions</th>
                </tr>

                {% for kind, actions in crud.registry|dictsort %}
                    <tr>
                        <td>{{ kind.title() }}</td>
                        <td>
                            {% for name, view_cls in actions|dictsort if not view_cls._requires_instance %}
                                <a href={{ url_for("."+view_cls.view_name()) }}>{{ name.title() }}</a>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
{% endblock %}
