{% extends "crud/base.html" %}

{% from "crud/macros/action_button.html" import action_link %}

{% block page_header %}
    {{ crud.name|title }}
{% endblock %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <table class='table table-striped'>
                <tr>
                    <th>Class</th>
                    <th>Actions</th>
                </tr>

                {% for kind, actions in crud.registry|dictsort %}
                    <tr>
                        <td>{{ kind.title() }}</td>
                        <td>
                            {% for name, view_cls in actions|dictsort if not view_cls._requires_instance %}
                                {{ action_link(view_cls) }}
                            {% endfor %}
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
{% endblock %}
