{% extends "crud/base.html" %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <h1>{{ view.kind() }}</h1>

            <table class='table table-striped'>
                
                {% for instance, columns in table %}
                    {% if loop.first %}
                        <tr>
                            {% for header in table.headers %}
                                <th>{{ header }}</th>
                            {% endfor %}

                            {% for action in view.actions %}
                                <th>{{ action.action|title }}</th>
                            {% endfor %}
                        </tr>
                    {% endif %}

                    <tr>
                        {% for column in columns %}
                            <td>{{ column|default("<i>(null)</i>"|safe, True) }}</td>
                        {% endfor %}
                        {% for action in view.actions %}
                            <td>
                                {% if action.has_permission_for(instance=instance) %}
                                    <a href='{{ action.url_for(instance=instance) }}' class='btn {{ action.button_class }}'>
                                        {% if action.button_icon %}
                                            <span class='glyphicon {{ action.button_icon }}'></span>
                                        {% else %}
                                            {{ action.action|title }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ table.headers|length }}">
                            There appears to be nothing here
                        </td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
{% endblock %}
