{% extends "crud/base.html" %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <h1>Confirm Operation</h1>
            <p>Are you sure you want to {{ view.action }} {{ instance }}?</p>

            <form method='POST' action='{{ request.path }}'>
                <button type='submit' class='btn {{ view.button_class }}'>
                    {% if view.button_icon %}
                    <span class='glyphicon {{ view.button_icon }}'></span>
                    {% endif %}
                    Yes, {{ view.action|title }}
                </button>
                <a href='{{ request.referer or url_for(".index") }}' class='btn btn-default'>No</a>
            </form>

        </div>
    </div>
{% endblock %}
