{% extends "kibble/base.html" %}

{% from "kibble/macros/action_button.html" import action_link, view_label %}

{% block page_header %}
    {{ kibble.label }}
{% endblock %}

{% block body %}
<div class='row'>
    <div class='col-md-12'>

    {% for header, group in kibble.registry.grouped()|dictsort %}
        {% if header %}
        <h3>{{ header }}</h3>
        {% endif %}
        <table class='table table-striped'>
            {% for kind, actions in group|dictsort %} 
                <tr>
                    <td width='50%'>
                        {% with view_cls = actions['list'] or actions.values()[0] %}
                            {{ view_label(view_cls, (view_cls.action == 'list')) }}
                        {% endwith %}
                    </td>
                    <td>
                        {% for name, view_cls in actions|dictsort if not view_cls._requires_instance %}
                            {{ action_link(view_cls) }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    </div>
</div>
{% endblock %}
