{% from "kibble/macros/action_button.html" import action_link %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head_tag %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ kibble.name.title() }}</title>

        <link href="{{ url_for(".static", filename="css/libs.css") }}" rel="stylesheet">
        <link href="{{ url_for(".static", filename="css/kibble.css") }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    {% endblock head_tag %}
    </head>
  <body {% if is_popup or is_embed %}class='popup'{% endif %}>
    {% block body_tag %}

    {% if not is_popup and not is_embed %}
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for(".index") }}">{{ kibble.label }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {# <li class="active"><a href="#">Home</a></li> #}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    {% endif %}

    <div class="container-fluid">
      <div class='row'>
        {% if not is_popup and not is_embed %}
          <div class='col-sm-3 col-md-2 sidebar'>
            <ul class='nav nav-sidebar'>

            {% for header, group in kibble.registry.grouped()|dictsort %}
              {% for kind, actions in group|dictsort %}
                <li><span class='navrow'>
                    {{ kind.title() }}
                    <span class='pull-right'>
                    {% for name, view_cls in actions|dictsort if not view_cls._requires_instance %}
                        {{ action_link(view_cls, text=False, button=False) }}
                    {% endfor %}
                  </span>
                  </span>
                </li>
              {% endfor %}
            {% endfor %}
            </ul> 
          </div>
          <div class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main'>
        {% else %}
          <div class='col-sm-12 main'>
        {% endif %}
            {% with messages = get_flashed_messages(True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class='alert alert-{{ category }}'>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          <div class="page-header">
            {% block header_buttons %}{% endblock %}
            <h1>{% block page_header %}{% endblock %}</h1>
          </div>

          {% block body %}

          {% endblock %}
        </div>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for(".static", filename="js/libs.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="js/kibble.js") }}"></script>
    {% endblock body_tag %}
  </body>
</html>
