{% extends "kibble/base.html" %}

{% from "kibble/macros/render_form.html" import render_form %}
{% from "kibble/macros/action_button.html" import action_link, view_label, breadcrumbs %}

{% block page_header %}New {{ view_label(view) }}{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumbs(instance|default(None), ancestors, view.ancestors) }}
{% endblock %}

{% block header_buttons %}
    {% for action in view._linked_actions if not action._requires_instance %}
        {% if action.has_permission_for() %}
            {{ action_link(action, from=view) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    <form role='form' class='form-horizontal' method='POST' action='{{ request.url }}'>
        {% block form_body %}
            {{ render_form(form, fieldsets, help_text) }}
        {% endblock %}

        {% block form_actions %}
            <div class='form-group form-actions'>
                <div class='col-sm-offset-2 col-sm-10'>
                    <button type='submit' class='btn btn-lg btn-primary'>Save <i class='glyphicon glyphicon-save'></i></button>
                    <button type='submit' name='__continue' value='edit' class='btn btn-lg btn-info'>
                        Save and Continue
                    </button>
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}
