{% extends "kibble/base.html" %}

{% from "kibble/macros/pagination.html" import render_paginator %}
{% from "kibble/macros/action_button.html" import action_link %}

{% block page_header %}
    {% if ancestor %}
    {{ ancestor }}  <span class='text-muted'>&raquo;</span>
    {% endif %}
    {{ view.kind() }}
    {% if paginator %}<small>Showing {{ table.row_count }} of {{ paginator.total_objects }} rows</small>{% endif %}
{% endblock %}

{% block header_buttons %}
    <div class='pull-right'>
        {% for action in view._linked_actions if not action._requires_instance %}
            {% if action.has_permission_for() %}
                {{ action_link(action, ancestor=ancestor, from=view) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block body %}

    <div class='row'>
        <div class='col-md-12'>
            <table class='table table-striped'>
                
                {% for instance, columns in table %}
                    {% if loop.first %}
                        <tr>
                            {% for header in table.headers %}
                                <th>{{ header }}</th>
                            {% endfor %}

                            {% for action in view._linked_actions if action._requires_instance %}
                                <th width='1px'>{{ action.action|title }}</th>
                            {% endfor %}
                        </tr>
                    {% endif %}

                    <tr>
                        {% for column in columns %}
                            <td>
                                {% with edit_url = kibble.url_for(view.path(), "edit", instance, _popup=request.args.get('_popup', None)) %}
                                    {% if edit_url and loop.first and view.link_first %}<a href='{{ edit_url }}'>{% endif %}
                                        {{ column|default("<i>(null)</i>"|safe, True) }}
                                    {% if edit_url and loop.first and view.link_first %}</a>{% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                        {% for action in view._linked_actions if action._requires_instance %}
                            <td>{{ action_link(action, instance, text=False) }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ table.headers|length }}">
                            There appears to be nothing here
                        </td>
                    </tr>
                {% endfor %}
                
            </table>

            {{ render_paginator(paginator) }}
        </div>
    </div>
{% endblock %}
