{% extends "kibble/base.html" %}
{% from "kibble/macros/render_form.html" import render_form %}

{% block page_header %}Confirm {{ view.action|title }}{% endblock %}

{% block body %}
    <div class='row'>
        <div class='col-md-12'>
            <p>Are you sure you want to {{ view.action }} {{ view.kind() }}: {{ instance }}?</p>

            <form method='POST' action='{{ request.path }}'>
                {% block form_body %}
                    {{ render_form(form, fieldsets) }}
                {% endblock %}

                <button type='submit' class='btn {{ view.button_class }}'>
                    {% if view.button_icon %}
                    <span class='glyphicon {{ view.button_icon }}'></span>
                    {% endif %}
                    Yes, {{ view.action|title }}
                </button>
                <a href='{{ request.referer or url_for(".index") }}' class='btn btn-default'>No</a>
            </form>

        </div>
    </div>
{% endblock %}
